<!DOCTYPE html>
%%  JSGlue.include() %%
<% import '_forms.html' as forms %>
<html ng-app="profile">
<head>
    <meta name=viewport content='width=700'>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- // <script src="https://code.highcharts.com/modules/solid-gauge.js"></script> -->
    <!-- // <script src="https://code.highcharts.com/highcharts-more.js"></script> -->
    <link rel="stylesheet" href="%%url_for('static', filename='bootstrap/css/bootstrap.min.rtl.css')%%" >
    <link rel="stylesheet" href="%% url_for('static', filename='five-star-rating/css/rating.min.css')%%">
    <script type="text/javascript" src="%% url_for('static', filename='five-star-rating/js/src/rating.js') %%"></script>
    <script src="%%url_for('static', filename='bootstrap/js/bootstrap.min.js')%%"></script>
    <script src="%%url_for('static', filename='js/typeahead.js')%%"></script>
    <!--<script src="%%url_for('static', filename='bootstrap/js/bootstrap-modal.js')%%"></script>-->
    <script src="%%url_for('static', filename='profile/typeaheadsearch.js')%%"></script>

    <script src="%%url_for('static', filename='angular/angular.min.js')%%"></script>
    <script src="%%url_for('static', filename='profile/profile.js')%%"></script>
    <link rel="stylesheet" href="%% url_for('static', filename='profile/profile.css') %%">
    <link  href="%%url_for('static', filename='css/css/select2.min.css')%%"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"  async defer
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"  async defer
    ></script>
    <script type="text/javascript" src="%% url_for('static', filename='profile/angular-recaptcha-master/release/angular-recaptcha.js')%%"></script>
    <title>%% prof.name %%</title>
    <link rel="apple-touch-icon" sizes="57x57" href="%%url_for('static',filename='icon/apple-touch-icon-57x57.png')%%">
    <link rel="apple-touch-icon" sizes="60x60" href="%%url_for('static',filename='icon/apple-touch-icon-60x60.png')%%">
    <link rel="apple-touch-icon" sizes="72x72" href="%%url_for('static',filename='icon/apple-touch-icon-72x72.png')%%">
    <link rel="apple-touch-icon" sizes="76x76" href="%%url_for('static',filename='icon/apple-touch-icon-76x76.png')%%">
    <link rel="apple-touch-icon" sizes="114x114" href="%%url_for('static',filename='icon/apple-touch-icon-114x114.png')%%">
    <link rel="apple-touch-icon" sizes="120x120" href="%%url_for('static',filename='icon/apple-touch-icon-120x120.png')%%">
    <link rel="apple-touch-icon" sizes="144x144" href="%%url_for('static',filename='icon/apple-touch-icon-144x144.png')%%">
    <link rel="apple-touch-icon" sizes="152x152" href="%%url_for('static',filename='icon/apple-touch-icon-152x152.png')%%">
    <link rel="apple-touch-icon" sizes="180x180" href="%%url_for('static',filename='icon/apple-touch-icon-180x180.png')%%">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-32x32.png')%%" sizes="32x32">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-194x194.png')%%" sizes="194x194">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-96x96.png')%%" sizes="96x96">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/android-chrome-192x192.png')%%" sizes="192x192">
    <link rel="icon" type="image/png" href="%%url_for('static', filename='icon/favicon-16x16.png')%%" sizes="16x16">
    <link rel="manifest" href="%%url_for('static',filename='icon/manifest.json')%%">
    <link rel="mask-icon" href="%%url_for('static',filename='icon/safari-pinned-tab.svg')%%" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="%%url_for('static',filename='icon/mstile-144x144.png')%%">
    <meta name="theme-color" content="#ffffff">

    <% from '_funcs.html' import twitter_card %>
    %% twitter_card(' به ' + prof.name +' امتیاز دهید! - جنیو ', 'جنیو یک سرویس نظرسنجی اساتید سراسر کشور است. با استفاده از جنیو به اساتید خود رای دهید و درمورد اساتید دیگر اطلاعات کسب کنید', prof.profile_pic) %%
</head>

<body class="bg" ng-controller="mainResult as main" ng-init="init('%% prof.id %%');">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59775059-2', 'auto');
    ga('send', 'pageview');

</script>

<div class="container">
    <header class="head-section" style="margin-bottom: 1.5%;">
        <div class="navbar navbar-default navbar-static-top " style="padding-left: 1%;padding-right:1%; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;padding-top: 10px;">
            <div class="navbar-collapse collapse row" >
                <!--logo-->
                <div class="col-md-2 col-xs-2">
                    <a  style="padding-left:20px;float: right;"  class="headlogo" href="%%url_for('search.search')%%" ><img src="%%url_for('static', filename='profile/logo.png')%%" style="height: 100%;width: 120px;"  ></a>
                </div>
                <!--logo-->
                <!--qouets-->
                <div class="col-md-7 col-xs-1">
                <!--&lt;!&ndash;<a class="navbar-brand headqouets"  href="?????">This is the other side of our <span> freedom</span>!</a>&ndash;&gt;-->
                </div>
                <div class=" col-md-3 col-xs-6" style="float: left;">
                    <select id="search"  multiple="multiple" style="width: 300px;">

                    </select>
                    <!--<a href="%%url_for('search.search')%%"  class="action-button" style="text-decoration: none;font-size:15px;">صفحه نخست</a>-->
                    <!--<a href="%%url_for('content.aboutus')%%"  class="action-button" style="text-decoration: none;font-size:15px;">درباره ما</a>-->
                     <!--<a href="%% url_for('content.aboutus')%%"  class="action-button" style="text-decoration: none;font-size:15px;">تماس با ما</a>-->
                    <!--<select class="js-data-example-ajax">-->
                        <!--<option value="3620194" selected="selected">select2/select2</option>-->
                    <!--</select>-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li style="height: 70%;">-->
                            <!--<div id="remote">-->
                                <!--<input class="typeahead" type="text" placeholder="جستجو">-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
                <!--qouets-->
                <!--search box-->

                <!--search box-->
            </div>
        </div>
    </header>

    <div class="row">
        <div id="x2">
            <div class="col-md-3" id="profile" >
                <div class="profile-top">
                    <!--<div class="bio">-->
                    <!--<img src="%%url_for('static', filename='img/uni/fanni.jpg')%%"  alt="background" class="bg1" style="opacity: 0.8;">-->
                    <!--<div class="desc">-->
                    <!--<h3 style="direction: rtl;">@ %% prof.name %%</h3>-->
                    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="avatarcontainer">
                        <% if prof.website%>
                        <img src="%%prof.profile_pic%%"  href="%% prof.website %%" alt="avatar" class="avatar" style="border-radius: 50%;">
                        <a class="hover" href="%% prof.website %%" target="_blank">
                            <div class="icon-twitter"></div>
                        </a>
                        <% else %>
                        <img src="%%prof.profile_pic%%"  alt="avatar" class="avatar">
                        <a class="hover" >
                            <div class="icon-twitter"></div>
                        </a>
                        <% endif %>

                    </div>

                </div>

                <div class="content">
                    <div class="data" >

                        <% if prof.rank %>
                        <div class="badge">%% prof.rank %%</div>
                        <% endif %>
                        <h3 style="font-weight: bold;font-size: 20px;"><div>%% prof.name %%</div></h3>
                        <h4><div>%% prof.email %%</div></h4>

                        <% if prof.faculty %>
                        <h4><div>%% " " + prof.faculty.name %% </div></h4>
                        <h4><div>دانشگاه%% " " + prof.faculty.uni.name  %%</div></h4>
                        <% endif %>
                    </div>
                    <div ng-controller="MainCtrl as rate" ng-init="init('%% prof.id %%')">
                        <button style="border-radius: 20px;padding-left: 25px;padding-right: 25px;" ng-click="toggleModal()" class="btn btn-primary">امتیاز بده</button>

                        <modal title="امتیاز به %% prof.name%%" visible="showModal">
                            <div class="rate-form ">
                                <div class="row " style="background-color: #F5F5F5;margin-bottom: 40px; padding-top: 10px; text-align: justify;direction: rtl;border-top-right-radius: 10px;border-top-left-radius: 10px;color: #9E9E9E;">
                                    <div class="col-md- col-xs-4 col-lg-4 col-sd-4">
                                        <h style="font-weight: bold;">باید ها</h>
                                        <p>پیرامون توانمندی استاد و موارد اجباری وغیر اجباری کلاس صحبت کنید.</p>
                                    </div>
                                    <div class="col-md- col-xs-4 col-lg-4 col-sd-4">
                                        <h style="font-weight: bold;">گوشزد</h>
                                        <p>نظرهایی غیر سازنده و بی‌اثر شامل  توهین و ... حذف خواهند شد.</p>
                                    </div>
                                    <div class="col-md- col-xs-4 col-lg-4 col-sd-4">
                                        <h style="font-weight: bold;">نبایدها</h>
                                        <p>از به کار بردن کلماتی که در شأن اساتید نیست، به طور کامل پرهیز کنید.</p>
                                    </div>
                                </div>
                                <!--<div class="row " style="background-color: #F5F5F5;margin-bottom: 40px;text-align: justify;direction: rtl;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;color: #9E9E9E;">-->
                                    <!--<div class="col-md-12 col-xs-12 col-lg-12 col-sd-12">-->
                                        <!--<h style="font-weight: bold;">نبایدها</h>-->
                                        <!--<p>از توهین به استادها به طور کامل پرهیز کنید.-->
                                            <!--سامانه نظرسنجی در وحله اول برای کمک به دانشجویان برای انتخاب واحد میباشد و وظیفه بعدی آن سامانه‌ای برای برگرداندن نظرات شما عزیزان به اساتید محترم میباشد تا از کیفیت آموزیشی بالاتری بهرهمند شویم</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div  class="row" style="direction: rtl; margin-bottom: 10px;">
                                    <div class="col-md-6 mda" >
                                        <div class="text" > چه درسی باهاش داشتی؟ </div>
                                    </div>
                                    <div class="col-md-6 mdb" >
                                        <select id="js-example-data-array"  style="width: 230px;direction: rtl;" ng-model="selected_course">


                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="direction: rtl; margin-bottom: 10px;">
                                    <div class="col-md-6 mda" style="margin-right: -10px; cursor: pointer;">
                                        <div class="no-course ">
                                            <a ng-click="canFindCourse()" class="text mdc" style="text-decoration: none;">
                                                درس مورد نظر رو پیدا نکردی؟
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mdb" style="padding-right: 23px;">
                                        <div ng-hide="findCourse" class="mdc">
                                            <input type="text" placeholder="  اسم درس رو وارد کن  " ng-model="course_name" style="border-radius: 5px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mda">
                                        <div class="text">چقدر دلسوزه؟</div>
                                    </div>
                                    <div class="col-md-6 mdb">
                                        <div id="yes-or-no">
                                            <div class="input" id="score">
                                                <a href="#" title="اهلش نیست"  ng-click="setHelpfulness(1)" id="sel1" ng-class="{'active':helpfulness===1}">۱</a>
                                                <a href="#" title=" کاری به کارت نداره" ng-click="setHelpfulness(2)" id="sel2" ng-class="{'active':helpfulness===2}">۲</a>
                                                <a href="#" title="تا حدودی" ng-click="setHelpfulness(3)" id="sel3" ng-class="{'active':helpfulness===3}">۳</a>
                                                <a href="#" title="هواتو داره" ng-click="setHelpfulness(4)" id="sel4" ng-class="{'active':helpfulness===4}">۴</a>
                                                <a href="#" title="از مامانت هم دلسوز تره" ng-click="setHelpfulness(5)" id="sel5" ng-class="{'active':helpfulness===5}">۵</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mda">
                                        <div class="text">چقدر آسون می‌گیره؟</div>
                                    </div>
                                    <div class="col-md-6 mdb">
                                        <div id="yes-or-no">
                                            <div class="input" id="score">
                                                <a href="#" title="فاتحه"  ng-click="setEasiness(1)" id="sel1" ng-class="{'active':easiness===1}">۱</a>
                                                <a href="#" title=" له شدم له نشی" ng-click="setEasiness(2)" id="sel2" ng-class="{'active':easiness===2}">۲</a>
                                                <a href="#" title="یه جورایی نه سخته نه آسون" ng-click="setEasiness(3)" id="sel3" ng-class="{'active':easiness===3}">۳</a>
                                                <a href="#" title="آسون میگیره" ng-click="setEasiness(4)" id="sel4" ng-class="{'active':easiness===4}">۴</a>
                                                <a href="#" title="دمش گرم" ng-click="setEasiness(5)" id="sel5" ng-class="{'active':easiness===5}">۵</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mda">
                                        <div class="text">چقدر حرف‌هاش رو می‌فهمی؟</div>
                                    </div>
                                    <div class="col-md-6 mdb">
                                        <div class="form-group" id="yes-or-no">
                                            <div class="input" id="score">
                                                <a href="#" title="زور نزن! چیزی نمیشه فهمید" ng-click="setClarity(1)" id="sel1" ng-class="{'active':clarity===1}">۱</a>
                                                <a href="#" title="زور بزن شاید فرجی شد" ng-click="setClarity(2)" id="sel2" ng-class="{'active':clarity===2}">۲</a>
                                                <a href="#" title="یه چیزایی میشه فهمید" ng-click="setClarity(3)" id="sel3" ng-class="{'active':clarity===3}">۳</a>
                                                <a href="#"  title="قابل فهم" ng-click="setClarity(4)" id="sel4" ng-class="{'active':clarity===4}">۴</a>
                                                <a href="#" title="مناسب حتی برای کودکان" ng-click="setClarity(5)" id="sel5" ng-class="{'active':clarity===5}">۵</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mda">
                                        <div class="text">کول هست؟</div>
                                    </div>
                                    <div class="col-md-6 mdb">
                                        <div class="form-group" id="yes-or-no">
                                            <div class="input" id="score">
                                                <a href="#" title="نه اصلا" ng-click="setCoolness(1)" id="sel1" ng-class="{'active':coolness===1}">۱</a>
                                                <a href="#" title="نه. معمولیه" ng-click="setCoolness(2)" id="sel2" ng-class="{'active':coolness===2}">۲</a>
                                                <a href="#" title="ای یکمی" ng-click="setCoolness(3)" id="sel3" ng-class="{'active':coolness===3}">۳</a>
                                                <a href="#" title="آره باحاله" ng-click="setCoolness(4)" id="sel4" ng-class="{'active':coolness===4}">۴</a>
                                                <a href="#" title="خیلی زیاد" ng-click="setCoolness(5)" id="sel5" ng-class="{'active':coolness===5}">۵</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mdc">
                                        <div class="text ">سه‌تا از تگ‌های زیر رو انتخاب کن</div>
                                    </div>
                                    <div class="col-md-12  pull-right" style="left: 20px;">
                                        <div class="tag-handler" id="select-tag" >
                                            <!-- <div  class="select-option" id="yes-or-no"> -->
                                            <a ng-repeat="tag in allTags track by $index"
                                               ng-click="addTag($index)"
                                               ng-class="{'active':tag.status===1}"
                                               href="#">{{tag.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mda">
                                        <div class="text" >حضور غیاب؟</div>
                                    </div>
                                    <div class="col-md-9 mdb pull-left" style="text-align: left;">
                                        <div class="form-group" id="yes-or-no">

                                            <div  class="input" >
                                                <a href="" id="negative" ng-click="setAttendance(1)" ng-class="{'active':attendance===1}">آره هر جلسه</a>
                                                <a href="" id="so-so"    ng-click="setAttendance(2)" ng-class="{'active':attendance===2}">بعضی وقتا</a>
                                                <a href="" id="positive" ng-click="setAttendance(3)" ng-class="{'active':attendance===3}">نه اصلا</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-xs-5">
                                        <div class="text">حاضری دوباره باهاش برداری؟
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-xs-7">
                                        <div  id="yes-or-no">

                                            <div class="input" style="margin-right: 0;">
                                                <a href="" id="positive" ng-click="setUseTakeAgain(1)" ng-class="{'active':takeAgain===1}">آره حتما</a>
                                                <a href="" id="positive" ng-click="setUseTakeAgain(2)" ng-class="{'active':takeAgain===2}">شاید</a>
                                                <a href="" id="positive" ng-click="setUseTakeAgain(3)" ng-class="{'active':takeAgain===3}">نه اصلا</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6 mda">
                                        <div class="text">کتاب استفاده می‌کنه
                                        </div>
                                    </div>
                                    <div class="col-md-6 mdb">
                                        <div  id="yes-or-no">

                                            <div class="input">
                                                <a href="" id="positive" ng-click="setUseTextbook(1)" ng-class="{'active':useTextbook===1}">آره</a>
                                                <a href="" id="positive" ng-click="setUseTextbook(2)" ng-class="{'active':useTextbook===2}">نه</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="row">
                                    <div class="form-group" id="yes-or-no">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text"> نظرت رو درموردش بگو </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 text-right " style="padding-left: 40px;padding-bottom: 0pc;font-size: 22px;">
                                            <div class="glyphicon glyphicon-plus-sign addguidline" onclick="showguid()" style="color: #03A9F4;cursor: pointer;"></div>
                                        </div>
                                        <div class="col-md-12 mdc">
                                            <div class="text" style="padding-right: 30px;">
                                                <textarea style="font-size: 15px;" id="leave-comment" type="textarea" name="input" ng-model="cmt" maxlength=1200></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-xs-12 guidline" style="direction: rtl;">
                                            <h4>یه پیشنهاد بدیم چی بنویسی بهتره:</h4>
                                            <ul>
                                                <li>نحوه بارم بندى درس و اينكه نمودار ميزنند يا نه؟ </li>
                                                <li>پروژه و تمرين و كوييزهاى درس چجوريه؟</li>
                                                <li>چقدر بايد واسه درس وقت بذارى؟</li>
                                                <li>امتحاناشون چجوريه؟ </li>
                                                <li>نحوه تعامل با دانشجو؟</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="row text-left">

                                        <div
                                                vc-recaptcha
                                                ng-model="gRecaptchaResponse"
                                                on-success="setResponse(response)"
                                                key="'6LeGZh4TAAAAANYkyuRY6igDkuCmySCpbigjyFcR'"
                                                class="col-md-3 text-left mda " style=" width: 300px; -webkit-transform: scale(0.9);-moz-transform: scale(0.7);-ms-transform: scale(0.7);-o-transform: scale(0.7);transform: scale(0.7);"
                                        >
                                        </div>
                                        <div class="col-md-4 text-right" style="padding-top: 40px;font-size: 11px;width: 38%;">
                                            <div class="form-group mdb" >
                                                <label>(: مرسی که سوال‌ها رو جواب دادی </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="submit-score" id="with-border">


                                            <button type="submit"
                                                    class="btn btn-primary" ng-class="{'disabled':submit}"
                                                    data-dismiss="modal"
                                                    aria-hidden="true"
                                                    ng-click="submitRate(cmt, course_name, selected_course);">{{getSubmitBtnTitle()}}</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </modal>
                    </div>
                </div>
            </div>
        </div>
        <div id="x1">
            <div class="col-md-9 " style="padding-left: 0;">
                <div class="row box" >
                    <!--<div style="text-align: center;padding-top: 10px;">-->
                        <!--تمامی نظر‌ها:‌ %% all_posts %%-->
                        <!--نظر‌های پاک شده: %% removed_posts %%-->
                    <!--</div>-->
                    <div ng-controller="TagCtrl"  class="col-md-5 tags x1-row5" style="padding-top: 20px;padding-left: 20px;">
                        <div  class="linebetwaen"></div>

                        <!--FIRST PERSON-->
                        <!--  <div ng-hide="" style="padding-right:10px;padding-top:5%;font-family: IRANSansWeb;font-size: 98px;z-index:9999999;color:#9E9E9E;">!اولین نفر باش که نظر می‌ده</div> -->
                        <!--FIRST PERSON-->
                        <div ng-repeat="tag in get_personal_tags()" class="label label-success" id="tag">
                            <!-- <span > -->
                            <span class="badge number" >{{(tag.count)}}</span>
                            {{tag.name}}
                            <!-- </span> -->
                        </div>


                    </div>

                    <div class="col-md-6 x1-row6" >
                        <div class="chart bg-gray" >
                            <div class="mainchart" id="main-result">Loading ...</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="box1 row" style="overflow: auto;overflow-y: hidden;padding-top: 30px;padding-bottom: 2%;height: 350px;">
        <!--FIRST PERSON-->
        <!--  <div style="padding-right:10px;padding-top:5%;font-family: IRANSansWeb;font-size: 98px;z-index:9999999;color:#9E9E9E;">!اولین نفر باش که نظر می‌ده</div> -->
        <!--FIRST PERSON-->
        <div class="" style="white-space: nowrap;">
            <div class = " bg-gray" >
                <!-- <div ng-repeat="i in study_count"> -->

                <% for i in range(0,prof.studies|length ) %>

                <div class="" style="display: inline-block; padding-right: 30px;padding-left: 30px;border-right: 2px solid rgba(79, 91, 102, 0.14);" >
                            <span id="study-result-%% i %%" style="width:250px;height: 330px;padding-top: 50px;">
                                  Loading ...

                            </span>

                </div>
                <% endfor %>
                <div class="" style="display: inline-block; padding-right: 30px;padding-left: 30px;border-right: 2px solid rgba(79, 91, 102, 0.14);" >
                            <span id="study-result-%% prof.studies|length %%" style="width:250px;height: 330px;padding-top: 50px;">


                            </span>

                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="row box1" ng-controller="Comment">
        <div class="col-md-12 col-xs-offset-right-0" style="padding: 30px;">

            <div class=" bg-gray comments box2">
                <div ng-repeat="cmt in get_comments()" >



                    <div class="row bg-gray box2" id="each-comment" >

                        <!--<div class="col-md-1 ">-->
                        <!--<div style="width: 2px;background-color: rgba(79, 91, 102, 0.14);height: 100%;left: 10px;right: 10px; position: absolute;"></div>-->
                        <!--<img style="width: 50px;margin-left: 10%px;" src="%%url_for('static', filename='img/cool/4.png')%%">-->
                        <!--</div>-->
                        <div class="col-md-2 cm1" >
                            <!--style="border-left: 2px solid rgba(79, 91, 102, 0.14);"-->
                            <!--class name-->
                            <div class="cmclass"> درس: {{ cmt.study }} </div>
                            <!--class name-->

                            <p>
                                حضور غیاب:
                                {{result_gen('attendance',  cmt.attendance)}}
                            </p>
                            <p>
                                باحاله:
                                {{result_gen('coolness',  cmt.coolness )}}
                            </p>
                            <p>
                                <div ng-if="cmt.use_textbook != undefined">
                                  کتاب استفاده می‌کنه:
                                  {{result_gen('useTextbook', cmt.use_textbook )}}
                                </div>
                            </p>
                            <p>
                                <div ng-if="cmt.take_again != undefined">
                                  دوباره باهاش برمی‌داری:
                                  {{result_gen('takeAgain', cmt.take_again )}}
                                </div>
                            </p>
                        </div>

                        <div class="col-md-2 cm2"style=" padding-left: 25px;border-left: 2px solid rgba(79, 91, 102, 0.14);border-right: 2px solid rgba(79, 91, 102, 0.14);">

                            <p>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow=" {{cmt.helpfulness}}" aria-valuemin="0" aria-valuemax="5" style="width: {{calcPercent( cmt.helpfulness )}}%; display: block; float: right;">
                                    هوا تو داره
                                </div>
                            </div>

                            </p>
                            <p>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{cmt.easiness}}" aria-valuemin="0" aria-valuemax="5" style="width: {{calcPercent(cmt.easiness)}}%; display: block; float: right;">
                                    آسون می‌گیره
                                </div>
                            </div>

                            </p>
                            <p>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{cmt.clarity}}" aria-valuemin="0" aria-valuemax="5" style="width: {{calcPercent(cmt.clarity)}}%; display: block; float: right;">
                                    قابل فهمه
                                </div>
                            </div>
                            </p>
                        </div>

                        <div class="col-md-8 cm3" >
                            <!--style="border-right: 2px solid rgba(79, 91, 102, 0.14);"-->

                            <div class="col-md-12 cm31">
                                <div class="comment-body">
                                    <div class="tags" >
                                        <!-- < for tag in cmt.personal_tags > -->

                                        <div class="label label-success"  ng-repeat="tag in cmt.personal_tags" >
                                            {{tag.name}}
                                        </div>

                                        <!-- < endfor > -->
                                    </div>

                                </div>
                                <br>
                            </div>
                            <div class="col-md-10 cm32" style="padding-top:10px;word-wrap: break-word; padding-right: 30px;direction: rtl;">
                                <p>{{ cmt.body }}</p>

                            </div>
                            <div class="col-md-12 text-right" id="report" style="padding-top: 20px;">
                                <a class="reporting" ng-click="report_cmt(cmt.id);"> گزارش تخلف <span class="glyphicon glyphicon-exclamation-sign"></span></a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <!-- endfor -->
            </div>
        </div>
    </div>
    <footer class="head-section ">
        <div class="navbar navbar-default " style="padding-left: 1%;padding-right:1%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
            <div class="navbar-collapse collapse row" >
                <!--logo-->
                <div class="col-md-2  col-xs-3 ff1">
                    <a  style="padding-top:10px;padding-left:20px;float: right;"  class="headlogo" href="%% url_for('content.aboutus')%%" ><img src="%%url_for('static', filename='profile/logo.png')%%" style="height: 100%;width: 120px;"  ></a>
                </div>
                <div class="col-md-6 col-xs-9 text-center ff2" style="top:15px;">
                    <a class="flogo tel" href="https://telegram.me/genew_ir"target="_blank" ><img src="%%url_for('static', filename='img/logo/telegram.png')%%" width="20px" height="20px"/></a>
                    <a class="flogo insta" href="https://www.instagram.com/genew_ir/" target="_blank"><img src="%%url_for('static', filename='img/logo/insta.png')%%" width="20px" height="20px"/></a>
                    <a class="flogo twit" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/twitter.png')%%" width="20px" height="20px"/></a>
                    <a class="flogo face" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/facebook.png')%%" width="20px" height="20px"/></a>
                    <a class="flogo aparat" href="http://www.aparat.com/genew" target="_blank"><img src="%%url_for('static', filename='img/logo/aparat.png')%%" width="20px" height="20px"/></a>
                </div>
                <div class="col-md-4 col-xs-12 text-left ff3" style="text-align: left;">
                    <a href="%%url_for('search.search')%%"  class="action-button" style="text-decoration: none;font-size:15px;">بازگشت</a>
                    <!--<a href="%%url_for('content.aboutus')%%"  class="action-button" style="text-decoration: none;font-size:15px;">درباره ما</a>-->
                    <a  class="action-button" style="text-decoration: none;font-size:15px;" href="%% url_for('category.faculty')%%">لیست اساتید</a>
                    <a href="%% url_for('content.contactus')%%"  class="action-button" style="text-decoration: none;font-size:15px;">تماس با ما</a>
                </div>

                <!--qouets-->
                <!--search box-->
                <!--<div class="col-md-4 ">-->
                <!--<ul class="nav navbar-nav">-->
                <!--<li style="height: 70%;"><input class="form-control search" style="direction: rtl;" placeholder=" جست و جو" type="text"></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--search box-->
            </div>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-59775059-2', 'auto');
                ga('send', 'pageview');

            </script>

            <!-- Hotjar Tracking Code for http://genew.ir -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:254729,hjsv:5};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        </script>

        </div>

    </footer>
</div>

<a href="#0" class="cd-top">Top</a>

<div ng-controller="MainCtrl as rate" >
    <div class="featuresug" ng-click="toggleModal()" >پشتیبانی آنلاین</div>

    <modal title="پیشنهادت رو بگو می شنویم" visible="showModal" style="text-align: center;">
        <div class="row" style="text-align: right;;font-weight: bold;direction: rtl;padding-right: 10px;">
            <h6 style="font-size:20px">لطفا نظرت رو برای ما تلگرام کن:</h6>
        </div>
        <div class="row" style="text-align: right;;font-weight: bold;direction: rtl;padding-right: 10px;text-align: center;">
            <a href="http://telegram.me/StudentMatters" target="_blank" style="font-size:18px;direction: ltr;text-decoration: none;">telegram.me/StudentMatters</a>
            <h6 style="font-size:18px;direction: ltr;text-align: center;">+۱۶۵۰۹۰۰۶۳۱۷</h6>
        </div>

        <!--<div class="submit-score" id="with-border">-->
        <!--<button type="submit"-->
        <!--class="btn btn-primary" ng-class="???????"-->
        <!--data-dismiss="modal"-->
        <!--aria-hidden="true"-->
        <!--ng-click="????????????????">???????????</button>-->
        <!--</div>-->
    </modal>
</div>

</body>
</html>
