
body{
  background: #2196F3;
  /*background-image: url("left.png"), url("hole-back.png");*/
  /*background-position: left, right;*/
    background-image: url("background.png");
  background-repeat: no-repeat, no-repeat;
    background-size: cover  ;
}

/*@media only screen and (max-width: 767px) {*/
    /*!*body {*!*/
        /*!*!* The file size of this background image is 93% smaller*!*/
         /*!** to improve page load speed on mobile internet connections *!*!*/
        /*!*background-image: url("mobile.png");*!*/
    /*!*}*!*/
/*}*/

.topbuttum{
    float: right;
    width: 100%;

}
.animate{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{

    position: relative;
    padding: 10px 40px;
    margin: 10px 10px 10px 0px;
    float: right;
    border-radius: 10px;
<<<<<<< HEAD
    font-family: 'Pacifico', cursive;
=======
    /*font-family: 'Pacifico', cursive;*/
    font-family: IRANSansWeb;
>>>>>>> 8b9584c8a4bb07a07170ced0646e2b891b3f17f4
    font-size: 90%;
    color: #FFF;
    /*text-decoration: none;*/
}

.gray
{
    background-color: #E1BEE7;
    border-bottom: 5px solid #103A56;
    text-shadow: 0px -2px #103A56;

}


.action-button:active
{

    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
/*ermia*/
.box{
  /*margin: 2% auto auto 5%;*/
  width: 100%;
  height: 10%;
}
.container-1{
  width: 90%;

  vertical-align: middle;
  white-space: nowrap;
  position: relative;

}
.container-1 input#search{
  width: 100%;
  height: 50px;
    margin-bottom: 2%;
  background: #FFFFFF;
    opacity: 0.9;
  border: none;
  font-size: 15pt;
  float: left;
  color: #080808;
  padding-right: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
    direction: rtl;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background : #0277BD;
  } 
#search {
	text-align: right;
	/*sjndfjsndf*/
}
#logo {
    /*margin-right: 730%;*/
  padding-top: 10%;
  text-align: center;
    width: 100%;
}
#logo {

}
.each-result{
  /*margin-bottom: 3px;*/
  display: block;
  /*background-color: #2196F3;*/
    padding-right: 4%;
    height: 50px;
  /*border-bottom: 1px solid #BDBDBD;*/

}
.each-result:hover{
    background-color:#0277BD;
    height: 60px;
    color: white;
    border-radius: 7px;
}
.results-place{
    padding-top: 2%;
  padding-right: 5px;
    height: 50px;
  /*margin-top: 5px;*/
}
.result ,li ,ul{
  padding: 0;
  list-style: none;
<<<<<<< HEAD
    color:black;
=======
  color:black;
}
.one-result{
    /*font: 20px BYekan, Tahoma, Geneva, sans-serif;*/
    font-family: IRANSansWeb;
    box-sizing: border-box;
    /*padding-right: 20px;*/
    opacity: 0.85;
    display: block;
    font-size: 15px;
    clear: both;
    width: 90%;
    height: 50px;
    padding-top: 20px;
    padding-right: 10px;
    max-height: 350%;
    overflow: auto;
    background-color: #FAFAFA;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    /*box-shadow: 5px 5px 15px #888888;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    /*box-shadow: 0px 0px 37px 1px rgba(0, 0, 0, 0.75);*/
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: right;
    direction: rtl;
>>>>>>> 8b9584c8a4bb07a07170ced0646e2b891b3f17f4
}
.result {
	font: 20px BYekan, Tahoma, Geneva, sans-serif;
	/*margin: auto auto auto auto;*/
  box-sizing: border-box;
  /*padding-right: 20px;*/
    opacity: 0.85;
      display: block;
	font-size: 15px;
	clear: both;
  /*float: right;*/
	width: 90%;
	max-height: 350%;
	overflow: auto;
	background-color: #FAFAFA;
	vertical-align: middle;
  	white-space: nowrap;
  	position: relative;
  	/*box-shadow: 5px 5px 15px #888888;*/
  	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  	/*box-shadow: 0px 0px 37px 1px rgba(0, 0, 0, 0.75);*/
  	border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  	text-align: right;
  	padding-left:2%;
  	/*margin-right: 45px;*/
}


.result,p{
   font-size: 15px;
}
@font-face {
 font-family: 'BYekan';
 src: url('fonts/BYekan.eot');
 src: local('b BYekan'), url('fonts/BYekan.woff') format('woff'), url('fonts/BYekan.ttf') format('truetype'), url('BYekan.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

#search  {
    line-height: 20px;
<<<<<<< HEAD
 font: 20px BYekan, Tahoma, Geneva, sans-serif;
 letter-spacing: .3px;
 /*margin: 10px 0 10px 0;*/
 font-size: 30px;
 clear: both;}
=======
    font-family: IRANSansWeb;
    /*letter-spacing: 0.3px;*/
    /*margin: 10px 0 10px 0;*/
    font-size: 30px;
    clear: both;}
>>>>>>> 8b9584c8a4bb07a07170ced0646e2b891b3f17f4

/*@media (min-height: 360px) {*/
    /*body img{*/
        /*width: 20%;*/
        /*height: 20%;*/
    /*}*/
/*}*/
@media only screen and (max-width: 767px) {
    #logo{
        width: 10%;
    }


}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius:20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

<<<<<<< HEAD
=======
.adv{
    color: #0f0f0f;
    font-family: IRANSansWeb;
    src: url(../font/IRANSansWeb.ttf);
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    margin-top: 30px;
    padding: 0;
    text-decoration: none;
    z-index: -1;
    position: relative;
}
.adv a:link{
    text-decoration: none;
}
.adv span {
    color: #9E9E9E ;
    text-decoration: none;ss
}
.find{
    color: #0f0f0f;
    font-family: IRANSansWeb;
    src: url(../font/IRANSansWeb.ttf);
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
    margin-top: 30px;
    padding: 0;
    z-index: -1;
    position: relative;
}
.find span {
    color: #034F84;
}
>>>>>>> 8b9584c8a4bb07a07170ced0646e2b891b3f17f4
@media only screen and (max-width:414px) and (max-height: 736px) {


}
.wait{
    font-size: 15px;
    padding-right:3%;

    direction: rtl;
}
@media only screen and (max-device-width: 414px) and (max-device-height: 736px){
    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url("mobile.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.8;
    }
    #logo img{
        margin-top: 25%;
        width: 90%;
        height: 40%;
    }

    #search-box img{
        width: 80%;
        height: 50%;
    }
    .container-1{
        height:150px;
    }
    .container-1 input#search{
        height: 150px;
        font-size: 50px;
    }
    .result{
        height: 250%;
        opacity: 1;
    }
    .wait{
        height: 100%;
        opacity: 1;
        padding-top: 50px;
    }
    .wait,p{
        font-size:100px;

    }
    .result,p{
        font-size:40px;
    }
    .each-result{
        height: 100px;

    }
    .each-result:hover{
        height: 120px;
    }
    .results-place{
        height: 100px;
        padding-top: 15px;
    }
}