<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="%%url_for('static', filename='bootstrap/css/bootstrap.min.rtl.css')%%" >

    
          <title>list of posts</title>
  </head>
  <body>
  <table class="table">
	  <thead>
	  	<tr>
	  		<th>
	  			#
	  		</th>
	  		<th>
	  			date
	  		</th>
	  		<th>
	  			proffessor
	  		</th>
	  		<th>
	  			body
	  		</th>
	  		<th>
	  			operation
	  		</th>
	  	</tr>
	  </thead>
	  <tbody>
	  <% for post in posts%>
	  	<tr>
	  		<td>
	  			%% loop.index %%
	  		</td>
	  		<td>
	  			%% post.created_at %%
	  		</td>
	  		<td>
	  			<a href="%%url_for('profile.prof', id=post.prof.id)%%">%% post.prof.name %%</a>
	  		</td>
	  		<td>
	  			%% post.body %%
	  		</td>
	  		<td>
	  			<a href="%% url_for('report.DeletePost', post_id=post.id)%%">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
          
            <a href="%% url_for('report.RestorePost', post_id=post.id)%%">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </a>
	  		</td>
	  	</tr>
	  	<% endfor %>
	  </tbody>
  </table>

  	<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for i in range(page_count) %>
    <li><a href="%% url_for('report.allPosts', page = i)%%">%% i + 1 %%</a></li>
    <% endfor %>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
  </body>
 </html>