<!DOCTYPE html>
%%  JSGlue.include() %%
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=0.7, maximum-scale=0.7" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>جنیو | Genew</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="%%url_for('static',filename='bootstrap/css/bootstrap.min.rtl.css')%%" >

    <!-- Plugin CSS -->
    <!--<link href="%%url_for('static', filename='search/magnific-popup/magnific-popup.css')%%" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="%%url_for('static', filename='search/new1.css')%%">
    <!-- <script src="http://ajax.goog8leapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
    <link rel="apple-touch-icon" sizes="57x57" href="%%url_for('static',filename='icon/apple-touch-icon-57x57.png')%%">
    <link rel="apple-touch-icon" sizes="60x60" href="%%url_for('static',filename='icon/apple-touch-icon-60x60.png')%%">
    <link rel="apple-touch-icon" sizes="72x72" href="%%url_for('static',filename='icon/apple-touch-icon-72x72.png')%%">
    <link rel="apple-touch-icon" sizes="76x76" href="%%url_for('static',filename='icon/apple-touch-icon-76x76.png')%%">
    <link rel="apple-touch-icon" sizes="114x114" href="%%url_for('static',filename='icon/apple-touch-icon-114x114.png')%%">
    <link rel="apple-touch-icon" sizes="120x120" href="%%url_for('static',filename='icon/apple-touch-icon-120x120.png')%%">
    <link rel="apple-touch-icon" sizes="144x144" href="%%url_for('static',filename='icon/apple-touch-icon-144x144.png')%%">
    <link rel="apple-touch  -icon" sizes="152x152" href="%%url_for('static',filename='icon/apple-touch-icon-152x152.png')%%">
    <link rel="apple-touch-icon" sizes="180x180" href="%%url_for('static',filename='icon/apple-touch-icon-180x180.png')%%">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-32x32.png')%%" sizes="32x32">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-194x194.png')%%" sizes="194x194">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-96x96.png')%%" sizes="96x96">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/android-chrome-192x192.png')%%" sizes="192x192">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-16x16.png')%%" sizes="16x16">
    <link rel="manifest" href="%%url_for('static',filename='icon/manifest.json')%%">
    <link rel="mask-icon" href="%%url_for('static',filename='icon/safari-pinned-tab.svg')%%" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="%%url_for('static',filename='icon/mstile-144x144.png')%%">
    <meta name="theme-color" content="#ffffff">
    <% from '_funcs.html' import twitter_card %>
    %% twitter_card('جنیو - Genew', 'جنیو یک سرویس نظرسنجی اساتید سراسر کشور است. با استفاده از جنیو به اساتید خود رای دهید و درمورد اساتید دیگر اطلاعات کسب کنید', url_for('static', filename="icon/android-chrome-192x192.png")) %%
    <!--js-->
    <script src="%%url_for('static', filename='angular/angular.min.js')%%"></script>
    <script src="%% url_for('static', filename='search/search.js')%%"></script>
</head>

<body id="page-top">
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!--<h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>-->
            <!--<hr>-->
            <!--<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>-->
            <div class="row" >
                <div class="col-md-12 col-xs-12" id="logo">
                    <img src="%%url_for('static',filename='search/img/logo1.png')%%">
                </div>
            </div>
            <div class="row" style="margin: 20px 0 20px 0;">
                <div class="col-md-2 col-xs-1"></div>
                <div class="col-md-8 col-xs-9 text-left no-padding" id="">
                    <div  class=""  ng-app="search" ng-controller="searchBox as box">
                        <input class="insearch" type="search" id="search"
                               placeholder="استـــــاد مورد نظر خود را وارد کنید ..."
                               ng-model="keyword"
                               ng-change="search()"
                               ng-focus="box.setFocusTrue()"
                        />
                        <div class="result " ng-show="search_result && box.focus"  >
                            <div ng-if="!search_result.data.profs.length">
                                <p  class="no-result">
                                    نتیجه‌ای یافت نشد.
                                </p>
                            </div>
                        </div>
                        <div class="one-result wait" ng-hide="search_result || !keyword">
                            <div id="search" ng-if="keyword.length < 3">
                                <p style="color: #0b0b0b;">  {{3 - keyword.length}}حرف دیگر تایپ کنید</p>
                            </div>
                            <div id="search" ng-if="keyword.length >= 3">
                                <p style="font-size: 15px; flow:left;direction: rtl;color: #0b0b0b;">
                                    در حال جستجوی {{keyword}}
                                    <img src="http://www.bba-reman.com/images/fbloader.gif" />
                                </p>
                            </div>
                        </div>

                        <div class="result " ng-show="search_result && box.focus"  >
                            <!-- <p>Professors:</p> -->
                            <ul class="results-place"  ng-repeat="prof in search_result.data.profs" >
                                <a href="{{ box.prof_url_for(prof.id)}}" style="color: antiquewhite;text-decoration: none;">
                                    <li class="each-result">
                                        <p style=" padding-top: 10px;">{{prof.name}}</p>
                                        <p >{{prof.faculty}} - {{prof.uni}}</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-1 no-padding text-left">
                    <a style="text-decoration: none;" href="%% url_for('category.faculty')%%"><img src="%%url_for('static',filename='search/search.png')%%" style="width: 50px;box-shadow:rgba(10, 16, 21, 0.43) 0 4px 2px;"></a>
                </div>
                <div class="col-md-1 col-xs-1">

                </div>
            </div>
            <div style="height: 80px;"></div>
            <a href="#about" class="page-scroll"  style="color: #0b0b0b;margin-top: 20px;">
                <img id="arrow-down" onclick="hideit()" src="%%url_for('static',filename='search/arrow.png')%%" 	>
            </a>
        </div>
            <!--<div class="row footup" style="margin-top: 140px;">-->
                <!--<div class="col-md-3 col-sm-3 text-left col-xs-12 f1">-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-6 social f2 col-xs-12">-->
                    <!--<a class="flogo tel" href="https://telegram.me/genew_ir"target="_blank" ><img src="%%url_for('static', filename='img/logo/telegram.png')%%" width="20px" height="20px"/></a>-->
                    <!--<a class="flogo insta" href="https://www.instagram.com/genew_ir/" target="_blank"><img src="%%url_for('static', filename='img/logo/insta.png')%%" width="20px" height="20px"/></a>-->
                    <!--<a class="flogo twit" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/twitter.png')%%" width="20px" height="20px"/></a>-->
                    <!--<a class="flogo face" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/facebook.png')%%" width="20px" height="20px"/></a>-->
                    <!--<a class="flogo aparat" href="http://www.aparat.com/genew" target="_blank"><img src="%%url_for('static', filename='img/logo/aparat.png')%%" width="20px" height="20px"/></a>-->
                <!--</div>-->
                <!--<div class="col-md-3 resorve col-sm-3 col-xs-12 text-right">-->

                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</header>

<section class="bg-primary" id="about" style="margin-bottom:60px; ">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class ="col-lg-4  col-md-4 text-center quets1">
                        <img src="%%url_for('static',filename='search/img/d1.png')%%"style="right: 0px;top: 0px;z-index: 0;">
                        <p style="color: #0b0b0b;z-index: 100;position: absolute;font-size:20px;right: 32%;top: 30px;">
                            گردهایی تجربه هزاران </br>
                            دانشجو در قالب سرویس</br>
                            نظرسنجی جنیو
                        </p>
                    </div>
                    <div class="col-lg-4  col-md-4 text-center quets1">
                        <img src="%%url_for('static',filename='search/img/d2.png')%%"style="right: 0px;top: 0px;z-index: 0;">
                        <p style="color: #0b0b0b;z-index: 100;position: absolute;font-size:20px;right: 32%;top: 30px;">
                           بهبود روند کاری اساتید با</br>
                            بهره گیری از بازخورد</br>
                            دانشجویان خود
                        </p>
                    </div>
                    <div class="col-lg-4  col-md-4 quets1">
                        <img src="%%url_for('static',filename='search/img/d3.png')%%"style="right: 0px;top: 0px;z-index: 0;">
                        <p style="color: #0b0b0b;z-index: 100;position: absolute;font-size:20px;right: 32%;top: 30px;">سرویس نظر سنجی جزئی</br>
                            کوچک از حرکتی بزرگ</br>
                            است
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <a href="%% url_for('category.faculty')%%" class="page-scroll btn btn-default btn-xl sr-button seabtn">!استــــاد خود را پیدا کن</a>
                </div>
            </div>
        </div>
    </div>
</section>




<aside class="foot">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3 col-sm-3 text-left col-xs-12 f1">
                <div class="row">
                    <!--<div class="col-md-12 col-xs-12 text-center" style="height:30px;color: #F3F3F3;">-->
                        <!--<p>!لذت تفاوت یک ایمیل با شما فاصله دارد</p>-->
                    <!--</div>-->
                    <!--<div  class="col-md-12 col-xs-12" style="margin-bottom: 10px;color: #0b0b0b;">-->
                        <!--<a href="????"> <img src="%%url_for('static', filename='search/img/tick.png')%%" width="25px" height="25px" style="background-color: #00adee;padding: 5px;margin-right: -4px;"/>-->
                        <!--</a>-->
                        <!--<input placeholder="ایمیل خود را وارد کنید" style="width: 75%;margin-right: 5px;">-->
                    <!--</div>-->
                    <div class="col-md-12 col-xs-12" style="margin-right: 5px;">
                        <a class="about-butom "  style="text-decoration: none;" href="%% url_for('content.contactus')%%">درباره ما</a>
                        <a class="about-butom "  style="text-decoration: none;" href="%% url_for('category.faculty')%%">لیست اساتید</a>
                        <a class="about-butom "  style="text-decoration: none;" href="%% url_for('content.aboutus')%%">مرامنامه</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 social f2 col-xs-12">
                <a class="flogo tel" href="https://telegram.me/genew_ir"target="_blank" ><img src="%%url_for('static', filename='img/logo/telegram.png')%%" width="20px" height="20px"/></a>
                <a class="flogo insta" href="https://www.instagram.com/genew_ir/" target="_blank"><img src="%%url_for('static', filename='img/logo/insta.png')%%" width="20px" height="20px"/></a>
                <a class="flogo twit" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/twitter.png')%%" width="20px" height="20px"/></a>
                <a class="flogo face" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/facebook.png')%%" width="20px" height="20px"/></a>
                <a class="flogo aparat" href="http://www.aparat.com/genew" target="_blank"><img src="%%url_for('static', filename='img/logo/aparat.png')%%" width="20px" height="20px"/></a>
            </div>
            <div class="col-md-3 resorve col-sm-3 col-xs-12 text-right">
                <div >
                    <img src="%%url_for('static',filename='search/resorve.png')%%" >
                    <p style="display: inline-flex;">حقوق این سایت متعلق به دانشجویان است </p>
                    <!--<p>ALLRIGHTRESERVED 2015</p>-->
                </div>
            </div>
        </div>
    </div>
</aside>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!--<script src="vendor/scrollreveal/scrollreveal.min.js"></script>-->
<!--<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>-->

<!-- Theme JavaScript -->
<script src="%% url_for('static', filename='search/js/creative.js')%%"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59775059-2', 'auto');
    ga('send', 'pageview');

</script>

</body>

</html>
