<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Genew-جنیو</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="%%url_for('static',filename='bootstrap/css/bootstrap.min.rtl.css')%%" >

    <!-- Plugin CSS -->
    <link href="%%url_for('static', filename='search/magnific-popup/magnific-popup.css')%%" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="%%url_for('static', filename='search/new1.css')%%">
    <!-- <script src="http://ajax.goog8leapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
    <link rel="apple-touch-icon" sizes="57x57" href="%%url_for('static',filename='icon/apple-touch-icon-57x57.png')%%">
    <link rel="apple-touch-icon" sizes="60x60" href="%%url_for('static',filename='icon/apple-touch-icon-60x60.png')%%">
    <link rel="apple-touch-icon" sizes="72x72" href="%%url_for('static',filename='icon/apple-touch-icon-72x72.png')%%">
    <link rel="apple-touch-icon" sizes="76x76" href="%%url_for('static',filename='icon/apple-touch-icon-76x76.png')%%">
    <link rel="apple-touch-icon" sizes="114x114" href="%%url_for('static',filename='icon/apple-touch-icon-114x114.png')%%">
    <link rel="apple-touch-icon" sizes="120x120" href="%%url_for('static',filename='icon/apple-touch-icon-120x120.png')%%">
    <link rel="apple-touch-icon" sizes="144x144" href="%%url_for('static',filename='icon/apple-touch-icon-144x144.png')%%">
    <link rel="apple-touch  -icon" sizes="152x152" href="%%url_for('static',filename='icon/apple-touch-icon-152x152.png')%%">
    <link rel="apple-touch-icon" sizes="180x180" href="%%url_for('static',filename='icon/apple-touch-icon-180x180.png')%%">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-32x32.png')%%" sizes="32x32">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-194x194.png')%%" sizes="194x194">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-96x96.png')%%" sizes="96x96">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/android-chrome-192x192.png')%%" sizes="192x192">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-16x16.png')%%" sizes="16x16">
    <link rel="manifest" href="%%url_for('static',filename='icon/manifest.json')%%">
    <link rel="mask-icon" href="%%url_for('static',filename='icon/safari-pinned-tab.svg')%%" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="%%url_for('static',filename='icon/mstile-144x144.png')%%">
    <meta name="theme-color" content="#ffffff">

    <!--js-->
    <script src="%%url_for('static', filename='angular/angular.min.js')%%"></script>
    <script src="%% url_for('static', filename='search/new.js')%%"></script>
</head>

<body id="page-top">
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!--<h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>-->
            <!--<hr>-->
            <!--<p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>-->
            <div class="row" >
                <div class="col-md-12" id="logo">
                    <img src="%%url_for('static',filename='search/logo1.png')%%">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 " id="search-place">
                    <div class="col-md-3 " id="right-search" style="width: 21%;"></div>

                    <div id="minisearch" class="col-md-6 centersearch"  ng-app="search" ng-controller="searchBox as box">
                        <input class="insearch" type="search" id="search"
                               placeholder="استـــــاد مورد نظر خود را وارد کنید ..."
                               ng-model="keyword"
                               ng-change="search()"
                               ng-focus="box.setFocusTrue()"
                        />
                        <div class="result " ng-show="search_result && box.focus" style="position: relative; z-index: 1000;">
                            <div ng-if="!search_result.data.profs.length">
                                <p  class="no-result">
                                    نتیجه‌ای یافت نشد.
                                </p>
                            </div>
                        </div>
                        <div class="one-result wait" ng-hide="search_result || !keyword">
                            <div id="search" ng-if="keyword.length < 3">
                                <p >  {{3 - keyword.length}}حرف دیگر تایپ کنید</p>
                            </div>
                            <div id="search" ng-if="keyword.length >= 3">
                                <p style="font-size: 15px; flow:left;direction: rtl;">
                                    در حال جستجوی {{keyword}}
                                    <img src="http://www.bba-reman.com/images/fbloader.gif" />
                                </p>
                            </div>
                        </div>

                        <div class="result " ng-show="search_result && box.focus" style="position: relative; z-index: 1000;">
                            <!-- <p>Professors:</p> -->
                            <ul class="results-place"  ng-repeat="prof in search_result.data.profs" >
                                <a href="{{ box.prof_url_for(prof.id)}}" style="color: antiquewhite;text-decoration: none;">
                                    <li class="each-result">
                                        <p style=" padding-top: 10px;">{{prof.name}}</p>
                                        <p >{{prof.faculty}} - {{prof.uni}}</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-1  col-xs-2 left-search" style="padding: 0;">
                        <img src="%%url_for('static',filename='search/search.png')%%">
                    </div>
                    <div class="col-md-2"></div>

                </div>
            </div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">بیشتر بدانید</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about" style="margin-bottom:80px; ">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class ="col-lg-4  col-md-4 text-center quets">
                        <img src="%%url_for('static',filename='search/d1.png')%%">
                    </div>
                    <div class="col-lg-4  col-md-4 text-center quets">
                        <img src="%%url_for('static',filename='search/d2.png')%%">
                    </div>
                    <div class="col-lg-4  col-md-4 text-center quets">
                        <img src="%%url_for('static',filename='search/d3.png')%%">
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <a href="#page-top" class="page-scroll btn btn-default btn-xl sr-button seabtn">!استــــاد خود را پیدا کن</a>
                </div>
            </div>
        </div>
    </div>
</section>




<aside class="foot">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3 text-left col-xs-3">
                <a class="about-butom"  style="text-decoration: none;" href="%% url_for('content.aboutus')%%">درباره ما</a>
                <a class="about-butom"  style="text-decoration: none;" href="%% url_for('content.aboutus')%%">لیست اساتید</a>
            </div>
            <div class="col-md-6 social f2 col-xs-6">
                <a class="flogo tel" href="https://telegram.me/genew_ir"target="_blank" ><img src="%%url_for('static', filename='img/logo/telegram.png')%%" width="20px" height="20px"/></a>
                <a class="flogo insta" href="https://www.instagram.com/genew_ir/" target="_blank"><img src="%%url_for('static', filename='img/logo/insta.png')%%" width="20px" height="20px"/></a>
                <a class="flogo twit" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/twitter.png')%%" width="20px" height="20px"/></a>
                <a class="flogo face" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/facebook.png')%%" width="20px" height="20px"/></a>
                <a class="flogo aparat" href="http://www.aparat.com/genew" target="_blank"><img src="%%url_for('static', filename='img/logo/aparat.png')%%" width="20px" height="20px"/></a>
            </div>
            <div class="col-md-3 resorve col-xs-3 text-right">
                <img src="%%url_for('static',filename='search/resorve.png')%%">
            </div>
        </div>
    </div>
</aside>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!--<script src="vendor/scrollreveal/scrollreveal.min.js"></script>-->
<!--<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>-->

<!-- Theme JavaScript -->
<script src="%% url_for('static', filename='search/js/creative.js')%%"></script>
</body>

</html>
