%%  JSGlue.include() %%
<html>
<head>
	<title>search!</title>
	<script src="%%url_for('static', filename='angular/angular.min.js')%%"></script>
	<script src="%% url_for('static', filename='search/search.js')%%"></script>
	<link rel="stylesheet" href="%%url_for('static', filename='search/search.css')%%">
	<link rel="stylesheet" href="%%url_for('static', filename='bootstrap/css/bootstrap.min.css')%%" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!--<script src="https://github.com/twitter/typeahead.js"></script>-->

<!-- <script src="http://ajax.goog8leapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
</head>


<body  >
<!-- PersianStat -->
<!-- URL: http://genew.ir -->
<div style="visibility: hidden;">
<script language='javascript' type='text/javascript' src='http://www.persianstat.com/service/stat.js'></script>
<script language='javascript' type='text/javascript'>
	persianstat(10263757, 0);
</script>
<!-- /PersianStat -->
</div>
<!--buttom on top of box-->
<div calss="row" class="topbuttum" >
    <div class="col-md-6"></div>
	<div class="col-md-3"></div>
    <div class="col-md-3 text-right">

        <!--<a href="%%url_for('content.aboutus')%%"  class="action-button" style="text-decoration: none;font-size:15px;">درباره ما</a>-->
        <a href="%% url_for('content.aboutus')%%"  class="action-button" style="text-decoration: none;font-size:15px;">درباره ما</a>

    </div>
</div>
<!--buttom on top of box-->

<!--logo of web site-->
<div class="row" id="logo">
	<div class="col-md-7"></div>
	<div class="col-md-4">
		<img src="%% url_for('static', filename='search/logo.png') %%"/>
	</div>
</div>
<!--logo of web site-->

<!--search box-->
<div class="row" id="search-box" style="margin-top: 2%;">
	<div class="col-md-7"></div>

	<div class="col-md-4" >
		<div class="box" ng-app="search" ng-controller="searchBox as box" style="text-align: -webkit-center;">
			<div class="container-1" style="direction:rtl;">
				<!--<span	 class="glyphicon glyphicon-search"></span>-->
				<input class="insearch" type="search" id="search"

						placeholder="نام استاد رو وارد کن ..."
						ng-model="keyword"
						ng-change="search()"
						ng-focus="box.setFocusTrue()"
				/>
				<!-- <button ng-click="se2arch()">search</button>   -->
			</div>
			<!--<div class="result" ng-hide="search_result">-->
			<!--<div class="well" id="search"> نتیجه‌ای یافت نشد</div>-->
			<!--</div>-->
			<div class="one-result wait" ng-hide="search_result || !keyword">
	  			<div id="search" ng-if="keyword.length < 3">
	  				<p >  {{3 - keyword.length}}حرف دیگر تایپ کنید</p>
	  			</div>
	  			<div id="search" ng-if="keyword.length >= 3">
	  				<p style="font-size: 15px; flow:left;direction: rtl;">
	  				  در حال جستجوی {{keyword}}
	  				<img src="http://www.bba-reman.com/images/fbloader.gif" />
	  				</p>
	  			</div>
  			</div>
  			
			<div class="result " ng-show="search_result && box.focus" style="position: relative; z-index: 1000;">
			<div ng-if="!search_result.data.profs.length">
	  			<p  class="no-result">
	  				نتیجه‌ای یافت نشد.
	  			</p>
	  		</div>
				<!-- <p>Professors:</p> -->
				<ul class="results-place"  ng-repeat="prof in search_result.data.profs" >
					<a href="{{ box.prof_url_for(prof.id)}}" style="color: antiquewhite;text-decoration: none;">
						<li class="each-result">
							<p style=" padding-top: 10px;">{{prof.name}}</p>
							<p >{{prof.faculty}} - {{prof.uni}}</p>
						</li>
					</a>
				</ul>
			</div>

		</div>
	</div>
</div>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-59775059-2', 'auto');
	ga('send', 'pageview');

</script>
</div>
<!--search box-->

<!--logos-->
<div style="position: fixed;right:10px;bottom: 5px;">

	<div  class ="logo"style="bottom: 10px;padding: 8px">
		<a href="https://telegram.me/genew_ir"target="_blank" ><img src="%%url_for('static', filename='img/logo/telegram.png')%%" width="28px" height="28px"/></a>
	</div>
	<div class ="logo" style="bottom: -20px;">
		<a href="https://www.instagram.com/genew_ir/" target="_blank"><img src="%%url_for('static', filename='img/logo/Insta.png')%%" width="35px" height="35px"/></a>
	</div>
	<div class ="logo" style="bottom: 10px;">
		<a href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/twitter.png')%%" width="35px" height="35px"/></a>
	</div>
</div>
<!--logos end-->
</body>
</html>