%%  JSGlue.include() %%
<html>
<head>
	<title>search!</title>
	<script src="%%url_for('static', filename='angular/angular.min.js')%%"></script>
	<script src="%% url_for('static', filename='search/search.js')%%"></script>
	<link rel="stylesheet" href="%%url_for('static', filename='search/search.css')%%">
	<link rel="stylesheet" href="%%url_for('static', filename='bootstrap/css/bootstrap.min.css')%%" >

<!-- <script src="http://ajax.goog8leapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
</head>


<body >
<!--buttom on top of box-->
<div calss="row" class="topbuttum" >
    <div class="col-md-8"></div>
    <div class="col-md-4 " >
         <a href="#" class="action-button shadow animate gray" style="text-decoration: none;">کمک</a>
        <a href="#" class="action-button shadow animate gray"style="text-decoration: none;">درباره ما</a>
        <a href="#" class="action-button shadow animate gray"style="text-decoration: none;">تماس با ما</a>
    </div>
</div>
<!--buttom on top of box-->

<!--logo of web site-->
<div class="row" id="logo">
	<div class="col-md-7"></div>
	<div class="col-md-4">
		<img src="%% url_for('static', filename='search/logo.png') %%"/>
	</div>
</div>
<!--logo of web site-->

<!--search box-->
<div class="row" id="search-box" style="margin-top: 2%;">
	<div class="col-md-7"></div>

	<div class="col-md-4" >
		<div class="box" ng-app="search" ng-controller="searchBox as box" style="text-align: -webkit-center;">
			<div class="container-1" style="direction:rtl;">
				<!--<span	 class="glyphicon glyphicon-search"></span>-->
				<input  type="search" id="search"

						placeholder="جستجو ..."
						ng-model="keyword"
						ng-change="search()"
						ng-focus="box.setFocusTrue()"
				/>
				<!-- <button ng-click="se2arch()">search</button>   -->
			</div>
			<!--<div class="result" ng-hide="search_result">-->
			<!--<div class="well" id="search"> نتیجه‌ای یافت نشد</div>-->
			<!--</div>-->
			<div class="one-result" ng-hide="search_result || !keyword">
	  			<div id="search" ng-if="keyword.length < 3">
	  				<p style="font-size: 15px; padding-right:3%;direction: rtl;">  {{3 - keyword.length}}حرف دیگر تایپ کنید</p>
	  			</div>
	  			<div id="search" ng-if="keyword.length >= 3">
	  				<p style="font-size: 15px; flow:left;direction: rtl;">
	  				  در حال جستجوی {{keyword}}
	  				<img src="http://www.bba-reman.com/images/fbloader.gif" />
	  				</p>
	  			</div>
  			</div>
  			
			<div class="result " ng-show="search_result && box.focus">
			<div ng-if="!search_result.data.profs.length">
	  			<p  class="no-result">
	  				نتیجه‌ای یافت نشد.
	  			</p>
	  		</div>
				<!-- <p>Professors:</p> -->
				<ul class="results-place" ng-repeat="prof in search_result.data.profs">
					<a href="{{ box.prof_url_for(prof.id)}}" style="color: antiquewhite;text-decoration: none;">
						<li class="each-result">
							<p style=" padding-top: 10px;">{{prof.name}}</p>
							<p >{{prof.faculty}} - {{prof.uni}}</p>
						</li>
					</a>
				</ul>
			</div>

		</div>
	</div>
</div>
</div>
<!--search box-->

<!--adv-->
	<div class="row" style="padding-top: 2%;">
		<div class="col-md-6"></div>

		<div class="col-md-6 text-center">
			<a class="adv">

					دغدغه های <span>دانشجویی</span> خود را در این جا بجویید
			</a>
		</div>
	</div>
	<div class="row" style="padding-top: 2%;">
		<div class="col-md-6"></div>

		<div class="col-md-2 text-right">
			<a class="find">امتیازش <span> چنده</span></a>
		</div>
		<div class="col-md-2 text-center">
			<a class="find">کُدام<span> دانشکده </span></a>
		</div>
		<div class="col-md-2 " >
			<a class="find">کُدام <span> استاد </span></a>
		</div>
	</div>
<!--adv-->

</body>
</html>