<!doctype html>
<html>
<head>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>-->
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>-->
    <meta name="viewport" content="width=device-width, minimum-scale=0.7, maximum-scale=0.7" />
    <script language='javascript' type='text/javascript' src="%%url_for('static', filename='angular/angular.min.js')%%"></script>
    <script language='javascript' type='text/javascript' src="%%url_for('static', filename='content/conent.js')%%"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-animate.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>-->
    <link rel="stylesheet" href="%%url_for('static', filename='bootstrap/css/bootstrap.min.rtl.css')%%" >
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="%%url_for('static', filename='content/animate.css')%%" >-->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="%%url_for('static', filename='content/contactus.css')%%" >
    <link rel="apple-touch-icon" sizes="57x57" href="%%url_for('static',filename='icon/apple-touch-icon-57x57.png')%%">
    <link rel="apple-touch-icon" sizes="60x60" href="%%url_for('static',filename='icon/apple-touch-icon-60x60.png')%%">
    <link rel="apple-touch-icon" sizes="72x72" href="%%url_for('static',filename='icon/apple-touch-icon-72x72.png')%%">
    <link rel="apple-touch-icon" sizes="76x76" href="%%url_for('static',filename='icon/apple-touch-icon-76x76.png')%%">
    <link rel="apple-touch-icon" sizes="114x114" href="%%url_for('static',filename='icon/apple-touch-icon-114x114.png')%%">
    <link rel="apple-touch-icon" sizes="120x120" href="%%url_for('static',filename='icon/apple-touch-icon-120x120.png')%%">
    <link rel="apple-touch-icon" sizes="144x144" href="%%url_for('static',filename='icon/apple-touch-icon-144x144.png')%%">
    <link rel="apple-touch-icon" sizes="152x152" href="%%url_for('static',filename='icon/apple-touch-icon-152x152.png')%%">
    <link rel="apple-touch-icon" sizes="180x180" href="%%url_for('static',filename='icon/apple-touch-icon-180x180.png')%%">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-32x32.png')%%" sizes="32x32">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-194x194.png')%%" sizes="194x194">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-96x96.png')%%" sizes="96x96">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/android-chrome-192x192.png')%%" sizes="192x192">
    <link rel="icon" type="image/png" href="%%url_for('static',filename='icon/favicon-16x16.png')%%" sizes="16x16">
    <link rel="manifest" href="%%url_for('static',filename='icon/manifest.json')%%">
    <link rel="mask-icon" href="%%url_for('static',filename='icon/safari-pinned-tab.svg')%%" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="%%url_for('static',filename='icon/mstile-144x144.png')%%">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div class="container-fluid">
        <header>
            <div class="row" style="padding-top: 2%;">
                <div class="col-md-4 col-xs-4 "></div>
                <div class="col-md-4 col-xs-4 "></div>
                <div class="col-md-4 col-xs-4 text-right logo">
                    <a  href="%%url_for('search.search')%%" ><img src="%%url_for('static',filename='search/logo2.png')%%"></a>
                </div>
            </div>
        </header>
        <%from '_funcs.html' import resolve_msg %>
        %% resolve_msg(msg) %%
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-8 col-xs-12">
                <div class="texts">
                    <h1>درباره ما</h1>
                    <p>جنیو یک سایت نیست، یک سامانه نظر سنجی نیست…</br>
                        جنیو یک حرکت دانشجویی است، حرکتی برای ساخت هرچه بهتر فردای خودمان.</br>
                        استیودنت مترز، این شعار ماست. شعاری که تنها با گردهمایی تمامی ما برو بچه های دانشجو به واقعیت خواهد پیوست. امروز از یک سایت شروع به کار کرده ایم و فردا به هر ستاره‌ای که لازم باشد دست می اندازیم.
                        در حال حاضر حرکت خود را با سامانه نظر سنجی اساتید شروع کرده ایم تا کمک حالی برای انتخاب واحد باشد چرا که ظرفیت اصلی حرکتمان در مرحله پیش رو بهبود امور آموزشی می باشد و اما خبر خوش… در تمامی این مراحل هدف ما ایجاد سرگرمی و ایجاد روحیه مضاعف برای ادامه است پس شک نکنید فضایی را خواهیم ساخت که همه آرزوی بودن در آن را داشته باشند.</p>
                </div>
                <div class="texts">
                    <h1>همکاری</h1>
                    <p>دنیایی که جنیو نوید ساخت آن را می دهد به فراخی رویای تک تک ماست…</br>
                        شک نکنید برای ساخت فردایی چنین روشن به همکاری یکایک شما نیازمندیم، با هر توان و هر مهارتی.</br>
                        آسمان شهر فردا تاب پرواز همگیمان را دارد، کافیست دست یکدیگر را بگیریم</br>
                        لطفا اطلاعات کامل خود را همراه با زمینه که در آن توان و علاقه به فعالیت دارید به شماره زیر تلگرام کنید.
                    </p>
                    <div class="col-md-12 col-xs-12 text-left " style="text-align: center;">
                        <a href="http://telegram.me/StudentMatters" target="_blank" style="font-size:18px;direction: ltr;text-decoration: none;">telegram.me/StudentMatters</a>
                        <h6 style="font-size:18px;direction: ltr;">+۱۶۵۰۹۰۰۶۳۱۷</h6>
                    </div>
                </div>
                <div class="texts">
                    <!--<h1>در آینده</h1>-->
                    <!--<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>-->
                </div>
            </div>
            <div class="col-md-4 col-xs-12" >
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-12 col-xs-12  video">
                        <video controls  controls width="100%">
                            <source src="%%url_for('static', filename='content/video/t.mp4')%%" type="video/mp4">
                            <!--<source src="mov_bbb.ogg" type="video/ogg">-->
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                    <div class="col-md-12 col-xs-12 text-left" >
                        <h1 style="font-size: 25px;">با ما در تماس باشید:</h1>
                    </div>
                    <div class="row">
                        <form method="post" action="%% url_for('content.contactus')%%" >
                        <div class="row">
                            <div class="col-md-6 col-xs-6 name" >
                                <input name="name" placeholder="نام" style="padding-right: 10px;background-color: #EEEEEE;border: 0px;border-color:none;height: 40px; ">
                            </div>
                            <div class="col-md-6 col-xs-6 ">
                                <input name="subject" placeholder="موضوع" style="padding-right: 10px;background-color: #EEEEEE;border: 0px;border-color:none;height: 40px; ">
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-9 " style="margin-top: 20px;padding-left: 2px;">
                            <input name="email" placeholder="ایمیل" style="padding-right: 10px;background-color: #EEEEEE;border: 0px;border-color:none;height: 40px; width: 100%;">
                        </div>
                        <div class="col-md-12 col-xs-12" style="margin-top: 20px;padding-left: 5px;">
                            <textarea name="body" placeholder="متن پیام" style="padding-right: 10px;background-color: #EEEEEE;border: 0px;border-color:none;height: 100px; width: 100%;font-size: 15px;" id="leave-comment" type="textarea" name="input" ng-model="cmt" maxlength=1200></textarea>
                        </div>
                        <div class="col-md-6 col-xs-8 ">
                            <p>ممنون که برای ما پیام گذاشتی.</p>
                        </div>
                        <div class="col-md-6 col-xs-4 text-right">
                            <button type="submit"
                            class="btn btn-primary" >ثبت پیام</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="col-md-3 text-left col-xs-3">
                <a class="about-butom"  style="text-decoration: none;" href="%% url_for('search.search')%%">بازگشت</a>
                <a class="about-butom"  style="text-decoration: none;" href="%% url_for('category.faculty')%%">لیست اساتید</a>
            </div>
            <div class="col-md-6 social f2 col-xs-6">
                <a class="flogo tel" href="https://telegram.me/genew_ir"target="_blank" ><img src="%%url_for('static', filename='img/logo/telegram.png')%%" width="20px" height="20px"/></a>
                <a class="flogo insta" href="https://www.instagram.com/genew_ir/" target="_blank"><img src="%%url_for('static', filename='img/logo/insta.png')%%" width="20px" height="20px"/></a>
                <a class="flogo twit" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/twitter.png')%%" width="20px" height="20px"/></a>
                <a class="flogo face" href="https://twitter.com/genew_ir" target="_blank"><img src="%%url_for('static', filename='img/logo/facebook.png')%%" width="20px" height="20px"/></a>
                <a class="flogo aparat" href="http://www.aparat.com/genew" target="_blank"><img src="%%url_for('static', filename='img/logo/aparat.png')%%" width="20px" height="20px"/></a>
            </div>
            <div class="col-md-3 resorve text-right col-xs-3 logo">
                <img src="%%url_for('static',filename='search/resorve.png')%%">
            </div>
        </footer>
    </div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59775059-2', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>