@font-face {
    font-family: IRANSansWeb;
    src: url(../font/IRANSansWeb.ttf);
}
html, body, .container-fluid {
    height:100%;
    width: 100%;

}
.container-fluid{
    padding: 0px;
    direction: rtl;
}
body{
    font-family: IRANSansWeb;
}
header{
    height: 20%;
    background: url("../user/header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fill {
    height: 100%;
    width: 100%;
    /*background-color: #FFFFFF;*/
    font-family: IRANSansWeb;
}

.main{
    padding-top: 30px;
    min-height: 70%;
}
.selpart{
    height: 20%;
}
.unis {
    direction: rtl;
    cursor: pointer;
    height: 70%;
    width: 100%;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;

}
.faculties{
  direction: rtl;
  cursor: pointer;
  height: 70%;
  width: 100%;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.btn .primary{
  direction: rtl;
}
.each-result{
    background-color: #E0E0E0;
    height: 280px;
    width: 99%;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}
.prof-img{
    height: 60%;
    overflow: hidden;
}
.avatar{
    height: 100%
    width: 80%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 2s ease;
}
.avatar:hover{
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border-radius: 0px;
    /*-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);*/
}
.foot{
    height: 10%;
    padding-top: 20px   ;
}
footer{
    height: 12%;
    padding-top: 20px;
    background: url("../user/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.about-butom1{
    padding: 5px 10px 5px 10px;
    background-color: #E0E0E0;
    color: #000000;
    /*border-radius: 10px;*/
}
.about-butom{
    background-color: #757575;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    /*border-radius: 10px;*/
}
/*social desig */
.social{
    text-align: center;
}
.flogo{
    padding: 8px 10px 5px 10px;
    border-radius: 50%;
}
.tel{
    background-color: #019ec7;
}
.insta{
    background-color: #b82071;
}
.twit{
    background-color: #009dc6;
}
.aparat{
    background-color: #ed145b;
}
.face{
    background-color: #015ab6;
}
/*social desig end*/
/*logo*/
.logo img{

}
@media (min-width: 481px) and (max-width: 768px) {
    .back{
        height: 10%;
    }
    .head{
        height: 10%;
    }
    .avatar{
        width: 60%;
    }
}
@media (min-width: 321px) and (max-width: 480px) {

}
@media (max-width: 320px) {

}

.cd-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    left: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #6d6d6d url(../profile/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.cd-top:hover {
    background-color: #e86256;
    opacity: 0.9;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 15px;
        bottom: 10px;
    }
}