::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius:20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
@font-face {
    font-family: IRANSansWeb;
    src: url(../font/IRANSansWeb.ttf);
}

body{
    font-family: IRANSansWeb;
}
.action-button
{
    position: relative;
    padding: 10px 10px;
    margin: 10px 10px 10px 0px;
    float: right;
    border-radius: 10px;
    /*font-family: 'Pacifico', cursive;*/
    font-family: IRANSansWeb;
    font-size: 90%;
    color: #0f0f0f;
    /*text-decoration: none;*/
}

.gray
{
    background-color: #E1BEE7;
    border-bottom: 5px solid #103A56;
    text-shadow: 0px -2px #103A56;
}


.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
/*header*/
/*.head-section { border-bottom: 1px solid #eee }*/
.head-section .navbar {
    margin-bottom: 0;
}
.navbar-default { border: none }
.navbar-brand {
    color: #bcc0cd;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    margin-top: 30px;
    padding: 0;
}
.navbar-brand span { color: #00BCD4 }
.head-section .navbar-collapse  ul.navbar-nav {
    /*float: left;*/
    /*margin-right: 0;*/
    /*z-index: 199;*/
}
.head-section .navbar-default { background-color: #EEEEEE }
.head-section .nav li a,
.head-section .nav li.active ul.dropdown-menu li a {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    background: none;
}
ul.dropdown-menu { border: none }
.head-section .nav li a:hover,
.head-section .nav li a:focus,
.head-section .nav li.active a,
.head-section .nav li.active a:hover,
.head-section .nav li a.dropdown-toggle:hover,
.head-section .nav li a.dropdown-toggle:focus,
.head-section .nav li.active ul.dropdown-menu li a:hover,
.head-section .nav li.active ul.dropdown-menu li.active a {
    color: #fff;
    /*background-color: ;*/
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.head-section .navbar-default .navbar-nav > .open > a,
.head-section .navbar-default .navbar-nav > .open > a:hover,
.head-section .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #48cfad;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.head-section .navbar { min-height: 80px }
.head-section .navbar-nav > li {

    padding-top: 20px;
    padding-bottom: 5px;
}
.head-section ul.navbar-nav li:last-child() { margin-left: 10px !important }
.head-section  .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-left: 2px;
    line-height: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.dropdown-menu li a:hover { color: #fff !important }
.head-section .navbar-default .navbar-nav > .open > a .caret,
.navbar-default .nav li.dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #fff;
}
.dropdown-menu { box-shadow: none }
.head-section .nav li .dropdown-menu {
    margin-top: -5px;
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.head-section .nav li .dropdown-menu li a {
    line-height: 30px;
    padding: 3px 12px;
    /*border-bottom: 1px solid #F3E8E8;*/
}
/*search*/
.search {
    margin-top: 3px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("search-icon.png") no-repeat 10px 8px;
    padding: 0 5px 0 35px;
    color: #fff;
    margin-left: 10px;
}
.search:focus {
    margin-top: 3px;
    width: 400px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
    margin-left: 10px;
}

.bg{
    /*background-color: rgba(33, 150, 243, 0.77);*/
    background-image: url("back.jpg")  ;
    background-attachment:fixed ;
    background-size: 100%;
}
.box{
    background-color: #EEEEEE;
    height: 100%;
    margin-top: 5px;
    border-radius: 10px;
    /*position: relative;*/
    box-shadow:rgba(10, 16, 21, 0.43) 0 4px 2px;
}
.linebetwaen{
    width: 2px;
    background-color:rgba(79, 91, 102, 0.24);
    height: 300px;
    left: 10px;
    right: 10px;
    margin-top: 25px;
    position: absolute;
}
#profile{
    height: 400px;
    padding: 0;
    margin: 5px auto 1em auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 10px;
    padding-bottom: 1.5em;
    background-color: #EEEEEE;
    -webkit-box-shadow: #0f0f0f 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow:rgba(10, 16, 21, 0.43) 0 4px 2px;
}

.profile-top {
    height: 45%;
    /*display: block;*/
    /*overflow: hidden;*/
    position: relative;
    /*padding-bottom: 2em;*/

    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}
.profile-top,img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;


}

.bg1 {
    border-bottom: 8px solid #0091EA;

}

.bio ,img{
    height: 100%;

}
.bio:hover > .desc {
    cursor: pointer;
    opacity: 1; }

.avatarcontainer {
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: auto;
    width: 140px;
    height: 140px;
    display: block; }

.avatar {
    width: 100%;
    border: 2px solid #0091EA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.avatar img {
    width: 65px;
    height: 65px;
}

.hover {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #0091EA;
    top: 0;
    font-size: 1.8em;
    text-align: center;
    color: white;
    padding-top: 18%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    border: 8px solid #0091EA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }


.content{
    text-align: center;
    /*margin-top: 60px;*/
}
/*.data {*/
/*margin-top: .6em;*/
/*color: #81878b; }*/
/*.data li {*/
/*width: 32%;*/
/*text-align: center;*/
/*display: inline-block;*/
/*font-size: 1.5em;*/
/*font-family: 'Lato';*/
/*border-right: solid 1px #bdc3c7; }*/
/*.data li:last-child {*/
/*border: none; }*/
/*.data li span {*/
/*display: block;*/
/*text-transform: uppercase;*/
/*font-family: 'Quicksand';*/
/*font-size: .5em;*/
/*margin-top: .6em;*/
/*font-weight:700;*/
/*}*/

.desc {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 171px;
    padding: 1.2em 1em 0 1em;
    color: white;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.desc h3 {
    font-family: "Lato";
    font-size: 1.2em;
    margin-bottom: .5em; }
.desc p {
    font-size: .9em;
    font-family: 'Quicksand';
    line-height: 1.5em; }

.follow {
    margin: 1.5em auto 0 auto;
    background-color: #2589cc;
    width: 150px;
    color: white;
    font-family: "Lato";
    text-align: center;
    padding: .5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
.follow:hover {
    background-color: #167abd;
    cursor: pointer; }


.info {
    padding: 10% 2% 2% 5%;
    margin-top: 40px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
#each-comment{
    border-bottom: 1px solid #BDBDBD;
    margin: 10px 10px 10px 10px;
    padding-bottom: 40px;
}
.chart {
    /*margin-top: 40px;*/
    /*min-height: 300px;*/
    /*max-height: 300px;*/
    height: 100%;
    width: 100%;
    text-align: center;


}
.comment-body{
    float:right;
}
.comments {
    /*float: right;*/
    /*font: 13px BYekan, Tahoma, Geneva, sans-serif;*/
    font-size: 1em;
    margin-top: auto;

}
.tags {
    height: 100%;
    /*overflow-y: auto;*/
    position: relative;
    /*bottom: 0;*/
    right: 0;
    padding-bottom: 5%;

    font-size: 18px;
}
.cmclass{

    /*overflow-y: auto;*/
    background-color: #FF5722;
    color:#ffffff;
    font-family: IRANSansWeb;
    font-weight: bold;
    max-width: 100%;
    /*position: relative;*/
    padding: .2em .6em .3em;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    /*bottom: 0;*/
    right: 0;

    font-size: 15px;
}
#leave-comment {
    direction: rtl;
    background-color: #EEEEEE;
    border:1px solid #EEEEEE;
    border-radius: 5px;
    font-size: 0.8em;
    width: 450px;
    height: 130px;
    padding: 12px;
    color: #505050 ;
    margin-top:5px;
    line-height: 21px;
    display: inline-block;
    text-shadow:none;
    overflow-y: scroll;
}
#tag{
    float: right;
    line-height: 10px;
    /*font: 15px BYekan, Tahoma, Geneva, sans-serif;*/
    font-family: IRANSansWeb;
    /*letter-spacing: .3px;*/
    /*margin: 10px 0 10px 0;*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
    margin: 5px 5px 5px 5px;
    /*clear: both;*/
}
#rate{
    float: right;
}
.rate-form{
    text-align: right;
    margin-right: 5%;
    margin-left: 5%;
    /*float: right;*/
}
.label{
    /*font-size: 15px;*/
    margin-left: 10px;
    /*float:right;*/
}
.tag-handler{
    margin-top: 20px;
    margin-bottom: 5%;
    display: block;
    float: right;
    margin-right: 2em;

    /*font-size: 17px;*/
}
.tag-handler a{
    background: #b8b8b3 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 5px 7px;
    text-decoration: none;
    /*width: auto;*/
    float: right;
    font-size:13px;
    outline: none;
}
.no-course a{
    background: #b8b8b3 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: block;
    /*margin-bottom: 6px;*/
    /*margin-right: 6px;*/
    padding: 5px 7px;
    text-decoration: none;
    /*width: auto;*/
    float: right;
    font-size:13px;
    outline: none;
}
.no-course :hover{
    background: #afd9ee none repeat scroll 0 0;

}
.no-course .active{
    background: #2196f3 none repeat scroll 0 0;
}

.tag-handler a:hover{
    background: #2196f3 none repeat scroll 0 0;

}
.tag-handler a.active{
    background: #2196f3 none repeat scroll 0 0;

}
.input{
    /*margin-top: 20px;*/
    /*margin-bottom: 5%;*/
    display: block;
    float: left;
    margin-right: 2em;
}
.active {
    background:#00adee none repeat scroll 0 0;
}
.input a{
    background: #b8b8b3 none repeat scroll 0 0;
    color: #fff;
    display: block;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 5px 7px;
    text-decoration: none;
    width: auto;
    float: right;
    font-size:7px;
}
.submit-score{
    margin-top: 5%;
    text-align: center;
}
#yes-or-no{
    float: right;
    margin-bottom: 1em;
}
#yes-or-no a{
    /*z-index: 30;*/
    outline:none;
    background: #b8b8b3 none repeat scroll 0 0;
    color: #fff;
    display: block;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 5px 20px;
    text-decoration: none;
    width: auto;
    /*float: right;*/
    font-size:11px;
    border-radius: 100px;
    font-size: 14px;
    /*width: 20%;*/
    /*float: left;*/
}
#yes-or-no a.active#sel1 {
    background: #B71C1C none repeat scroll 0 0;
}
#yes-or-no a.active#sel2 {
    background: #E65100 none repeat scroll 0 0;
}
#yes-or-no a.active#sel3 {
    background: #9E9D24 none repeat scroll 0 0;
}
#yes-or-no a.active#sel4 {
    background: #558B2F none repeat scroll 0 0;
}
#yes-or-no a.active#sel5 {
    background: #33691E none repeat scroll 0 0;
}

#yes-or-no a:hover#sel1{
    background: #B71C1C none repeat scroll 0 0;
}
#yes-or-no a:hover#sel2{
    background: #E65100 none repeat scroll 0 0;
}
#yes-or-no a:hover#sel3{
    background: #9E9D24 none repeat scroll 0 0;
}
#yes-or-no a:hover#sel4{
    background: #558B2F none repeat scroll 0 0;
}
#yes-or-no a:hover#sel5{
    /*z-index: 20;*/
    background: #33691E none repeat scroll 0 0;
}

#yes-or-no a:hover#negative{
    background: #D50000 none repeat scroll 0 0;
}
#yes-or-no a:hover#positive{
    background: #3f51b5 none repeat scroll 0 0;
}
#yes-or-no a:hover#so-so{
    background: #EF6C00 none repeat scroll 0 0;
}

#yes-or-no a.active#positive{
    background: #3f51b5 none repeat scroll 0 0;

}
#yes-or-no a.active#negative{
    background: #D50000 none repeat scroll 0 0;

}
#yes-or-no a.active#so-so{
    background: #EF6C00 none repeat scroll 0 0;
}
/*.input {
	float:left;
}*/
#score a{
    padding: 5px 12px;
    /*:left;*/
}
#score a:hover{
    background: #e53935 none repeat scroll 0 0;

    padding: 5px 12px;
}
.form-group{
    margin-bottom: 15px;

    /*width:400px;*/
}
.question{
    /*float: right;*/
}

.form-group-tag {
    /*height: 300px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #000;*/
    /*border-top: 1px solid #000;*/
    padding-bottom: 20px;
    padding-top: 20px;
    /*border-bottom: 1px solid #000;
    padding-bottom: 10px;
*/
}
#with-border{
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
}
#what-about-class{
    margin-top: 20px;
    color: #345;
    /*border-top: 1px solid #000;*/
    /*margin-top: 10px;*/
    /*padding-top: 10px;*/
}
.select-option{
    font-size: 12px;
    /*float: right;*/
    /*max-width: 200px;*/
}
.text {
    /*max-width: 50%;*/
    float: right;
    margin-left: 1em;
}
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.rate-label {
    float: left;
}
.val {
    float: left;
}
.rating {
    overflow: auto;
}

/*.c-rating {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}*/
#vote {
    /*margin-bottom: 5%;*/
    padding: 2% 2% 2% 2%;
}
a.hideDisplay{
    position: relative; /* This makes everything work.*/
    /* Allows you to layer overlapping elements. */
    z-index: 20;
    color: #000;
    text-decoration: none
}

a.hideDisplay:hover{
    /* Allows you to layer overlapping elements. */
    z-index: 30;
}

/*study-result*/

/* This will only display itself when the
 * user hovers the mouse over the anchor. */
a.hideDisplay:hover span.showDisplayOnHover{
    display: block;
    position: absolute;
    font-size: 18px;

    /* This sets the height of a line of text in the box. */
    line-height: 25px;

    /* These position the box where it needs to go. */
    top: 5px;
    left: 20px;

    /* These adjust the size of the box when it appears. */
    width: auto;
    padding: 10px;

    border: 1px solid #666666;
    background-color: #c0cedd;

    /* text color */
    color: #000000;
    text-align: left;
}


span.showBodyOfDisplayOnHover {
    font-size: 16px;
    font-weight: normal;
    color: #444;
    line-height: 18px;
}

.box1{
    background-color: #EEEEEE;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    text-align: right;
    box-shadow:rgba(10, 16, 21, 0.43) 0 4px 2px;
}
.box2{
    background-color: #EEEEEE;
    height: 100%;
    /*margin-top: 5px;*/
    /*margin-bottom: 20px;*/
    /*border-radius: 10px;*/
    position: relative;
    text-align: right;
    /*box-shadow:rgba(10, 16, 21, 0.43) 0 4px 2px;*/
}
.btn-circle {
    /*width: 30px;*/
    /*height: 30px;*/
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}
.multi-item-carousel .carousel-inner .next {
    left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.mainchart{
    height:350px;
    padding-right: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.cm41{
    word-wrap: break-word; padding-right: 30px;
}
.h2{
    padding-right: 62%;
}
.f2{
    padding-right: 48%;
    left: -95px;
}

.fot{

}
.mc{
    width: 2px;
    height: 100%;
}
.featuresug{
    background-color: #F50057;
    color: #f5f5f5;
    cursor: pointer;
    float:right;
    padding: 8px;
    position: fixed;
    bottom: 50%;
    left: -35px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /*border-top-left-radius: 10px;*/
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.cd-top {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #F50057 url(cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
.cd-top:hover {
    background-color: #e86256;
    opacity: 0.9;
}
@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 15px;
        bottom: 10px;
    }
}
a.reporting {
    /*padding: 5px;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*background-color: #D32F2F;*/
    color: #6d6d6d;
    /*border-radius: 5px;*/
    cursor: pointer;
    text-decoration: blink;
    /*visibility: hidden;*/
}
a.reporting:hover{
    color: #9C1A1C;
}
.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.this-will-not-be-read {
    display: none !important;
}
.logo img{
    width: 30px;
    height: 30px;

    /*background-color: #90A4AE;*/
    /*border-radius: 50px;*/
    /*padding: 5px;*/
    /*margin-top: 10px;*/
}
.f3{
    width: 12%;
    left: -55px;
}
@media only screen and (max-device-width: 443px) and (max-device-height: 773px)  {
    .navbar-collapse{
        width: 80%;
    }
    .headlogo{
        width: 20%;
    }
    .headqouets{
        width: 80%;

    }
    #x2{
        width: 80%;
        margin-left: 10%;

    }
    .x1-row5{
        width: 40%;
        height: 80%;
        position: absolute;
    }
    .x1-row6{
        width: 55%;
        height: 300px;
    }
    .btn-primary{
        font-size: 25px;
    }
    .mainchart{
        height: 380px;
        padding-left: 25px;
    }
    .linebetwaen{
        width: 0;
    }
    .tags{
        line-height: 40px;

    }
    .label{
        padding: 8px;
        display: inline-block;
    }
    .progress-bar{
        font-size: 8px;
    }
    #profile{
        width: 100%;
    }

    .navbar-static-top{
        padding-left: 1%;
    }
    .collapse{
        display: table;
    }
    #cool img{
        width: 100px;
        height: 100px;

    }
    .tag{
        font-size:18px;
    }
    .bg-gray{
        height: 100%;
    }
    .mda{
        width:50%;
        float:right;
        font-size: 20px;
    }
    .mdb{
        width:50%;
        float:left;
        font-size: 20px;
    }
    .mdb,a{
        font-size: 20px;
    }
    .mdc{
        /*width:50%;*/
        /*float:left;*/
        font-size: 20px;
    }
    .cm1{
        width:20%;
        float:right;
    }
    .cm2{
        width:20%;
        float:right;
    }
    .cm3{
        width:60%;
        float:left;
    }
    .cm31{
        width: 100%;
        min-height: 43px;
    }
    .cm32{
        width: 100%;
    }
    .cm41{
        padding-right:0;
        margin-top:40px;
    }
    .cm5{
        width: 2px;
    }
    .box{
        height: 480px;
        margin-bottom: 10px;
    }
    .h1{
        width: 20%;
        float: right;
    }
    .h2{
        width: 45%;
        padding-right: 0;
        float: left;
    }
    .f1{
        width: 18%;
        float: right;
    }
    .f2{
        width: 40%;

        padding-right: 0;
        left: -40px;
        font-size: 14px;
        float: left;
    }
    .f3{
        width: 28%;
        padding-right: 0;
        float: left;
    }
    /*.fot{*/
    /*width: 96%;*/
    /*margin-left: 2%;*/
    /*}*/
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) {
    .navbar-collapse{
        width: 80%;
    }
    .headlogo{
        width: 20%;
    }
    .headqouets{
        width: 80%;

    }
    #x2{
        width: 80%;
        margin-left: 10%;

    }
    .x1-row5{
        width: 40%;
        height: 80%;
        position: absolute;
    }
    .x1-row6{
        width: 55%;
        height: 300px;
    }
    .btn-primary{
        font-size: 25px;
    }
    .mainchart{
        height: 380px;
        padding-left: 25px;
    }
    .linebetwaen{
        width: 0;
    }
    .tags{
        line-height: 40px;

    }
    .label{
        padding: 8px;
        display: inline-block;
    }
    .progress-bar{
        font-size: 8px;
    }
    #profile{
        width: 100%;
    }

    .navbar-static-top{
        padding-left: 1%;
    }
    .collapse{
        display: table;
    }
    #cool img{
        width: 100px;
        height: 100px;

    }
    .tag{
        font-size:18px;
    }
    .bg-gray{
        height: 100%;
    }
    .mda{
        width:50%;
        float:right;
        font-size: 20px;
    }
    .mdb{
        width:50%;
        float:left;
        font-size: 20px;
    }
    .mdb,a{
        font-size: 20px;
    }
    .mdc{
        /*width:50%;*/
        /*float:left;*/
        font-size: 20px;
    }
    .cm1{
        width:20%;
        float:right;
    }
    .cm2{
        width:20%;
        float:right;
    }
    .cm3{
        width:60%;
        float:left;
    }
    .cm31{
        width: 100%;
        min-height: 43px;
    }
    .cm32{
        width: 100%;
    }
    .cm41{
        padding-right:0;
        margin-top:40px;
    }
    .cm5{
        width: 2px;
    }
    .box{
        height: 480px;
        margin-bottom: 10px;
    }
    .h1{
        width: 20%;
        float: right;
    }
    .h2{
        width: 45%;
        padding-right: 0;
        float: left;
    }
    .f1{
        width: 18%;
        float: right;
    }
    .f2{
        width: 40%;

        padding-right: 0;
        left: -40px;
        font-size: 14px;
        float: left;
    }
    .f3{
        width: 28%;
        padding-right: 0;
        float: left;
    }
}









